.welcome
	z-index: 24
	margin-bottom: -90px
	position: relative
	text-align: center
	padding: 50px
	background:
		image: url(../img/bg_welcome.jpg)
		size: cover
		repeat: no-repeat
	height: 50rem
	overflow: hidden

	.blur
		z-index: 15
		position: absolute
		top: 0px
		bottom: 0px
		right: 0px
		left: 0px
		background: rgba(0,0,0,0.4)
		backdrop-filter: blur(10px)
	h1
		display: block
		padding: 10px 15px
		width: auto
		height: auto
		z-index: 17
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		border: solid white 4px
		color: white
		text-transform: uppercase
		letter-spacing: 1rem
		//background: pink
		@media (max-width: 760px)
			padding: 10px 10px

	img
		position: absolute
		z-index: 17
		+size(100px 50px)
		top: 70%
		left: 50%
		margin-left: -50px
		//background: pink


@media (max-width: 380px)
	.welcome
		background-size: 100% 100%
		background-image: url(../img/bg_welcome.jpg)
		background-repeat: no-repeat
