.principes-images
  width: 100%
  padding: 30px
  text-align: center
  color: $bleu-lavande
  text-transform: uppercase
  .principes-images-flexbox
    width: 100%
    padding: 30px
    +display(flex)
    +flex-direction(row)
    +flex-wrap(wrap)
    +justify-content(space-between)
    .principes-image-rachis
      width: 30%
      height: auto
    .principes-image-anat
      width: 60%
      height: auto

@media (max-width: 775px)
  .principes-images
    .principes-images-flexbox
      .principes-image-rachis
        width: 90%
      .principes-image-anat
        width: 100%
