.feeling
  width: 100%
  min-height: 400px
  position: relative
  padding: 0px 30px 30px 30px
  overflow: hidden
  text-align: center
  background: $bleu-lavande

  .feeling-triangle
    position: absolute
    +size(2000px)
    background: white
    transform: rotate(87deg)
    top: 80%
    z-index: 0

  h3
    text-transform: uppercase
    color: $filtre-blanc
    margin-bottom: 5px
    text-align: center
    line-height: 90px
  em
    color: $filtre-blanc
    position: relative
    top: -35px
    font-size: 12px
  .feeling-icon-container
    max-width: 1000px
    margin: auto
    min-height: 200px

    span
      display: inline-block
      margin:
        right: 40px
        left: 40px
      font-size: 40px
      color: transparentize(black, 0.5)
      //background: blue
      border-radius: 50%
      margin-bottom: 30px

    .feeling-icon1-text,
    .feeling-icon2-text,
    .feeling-icon3-text,
    .feeling-icon4-text,
    .feeling-icon5-text,
    .feeling-icon6-text
      display: none
      width: 100%
      height: auto
      background: transparentize(white, 0.9)
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
      overflow: hidden
      border-radius: 7px
      color: white
      padding: 5px 40px
      box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3)
      @media (max-width: 1000px)
        color: black


    #feeling-icon1:hover
      color: black
      ~ .feeling-icon1-text
        display: block
        @extend %bouncy
    #feeling-icon2:hover
      color: black
      ~ .feeling-icon2-text
        display: block
        @extend %bouncy
    #feeling-icon3:hover
      color: black
      ~ .feeling-icon3-text
        display: block
        @extend %bouncy
    #feeling-icon4:hover
      color: black
      ~ .feeling-icon4-text
        display: block
        @extend %bouncy
    #feeling-icon5:hover
      color: black
      ~ .feeling-icon5-text
        display: block
        @extend %bouncy
    #feeling-icon6:hover
      color: black
      ~ .feeling-icon6-text
        display: block
        @extend %bouncy
