$width: 100%

.VR-cont
  position: relative
  width: 100%
  min-height: 400px
  padding: 50px
  +display(flex)
  +justify-content(space-between)
  +align-items(center)
  +flex-wrap(wrap)
  font:
    font-family: $Opensans
  overflow: hidden

  .bg-wrap
    position: absolute
    width: 100%
    height: $width/1.5
    background:
      color: $bleu-lavande-blur
    z-index: -3
    top: 50%
    left: 0px
    transform: translateY(-50%)
    box-shadow: 1px 1px 12px 0px $filtre-noir


  .VR-right
    width: 70%
    margin: 0
    padding: 0
    height: 100%
    @media (max-width: 600px)
      width: 100%

    #panorama
      width: 600px
      height: 400px
      box-shadow: 0px 0px 10px 0px $filtre-noir
      margin: auto
      @media (max-width: 900px)
        width: 400px
        margin-right: 0px
        margin-left: auto
      @media (max-width: 600px)
        width: 300px
        height: 300px
        margin: auto
        margin-right: auto

  .VR-left
    display: block
    width: 20%
    height: 100%
    margin: 0
    padding: 0
    position: relative
    //background: pink
    color: $filtre-blanc
    @media (max-width: 600px)
      width: 100%
    h2
      text-align: center
      margin: none
      margin-bottom: 30px

    p
      text-align: center
      text-transform: capitalize
      font-size: 15px
      border-bottom: 1px solid $filtre-blanc
      margin-bottom: 10px
      //line-height: 30px
      &:last-child
        display: none
@media (max-width: 700px)
  .VR-cont
    padding: 20px
    .bg-wrap
      display: none
    .VR-left
      color: $bleu-lavande
      p
        border-bottom: 1px solid $bleu-lavande
      p:last-child
        display: block

    .VR-right
      margin-top: 15px
      width: 100%
      #panorama
        width: 100%
